name: locorda_rdf
description: Workspace for Locorda RDF libraries.
publish_to: none

environment:
  sdk: ^3.6.0

workspace:
  - packages/rdf_core
  - packages/rdf_canonicalization
  - packages/rdf_mapper
  - packages/rdf_mapper_annotations
  - packages/rdf_mapper_generator
  - packages/rdf_xml
  - packages/rdf_vocabulary_to_dart

dev_dependencies:
  melos: ^7.3.0

melos:
  scripts:
    analyze:
      run: melos exec -- dart analyze .
      description: Run `dart analyze` in all packages.

    format:
      run: melos exec -- dart format .
      description: Run `dart format` in all packages.

    test:
      run: melos exec --dir-exists=test -- dart test
      description: Run `dart test` in all packages that have a `test` directory.

  version:
    # Synchronized versioning for all packages in the RDF suite
    updateGitTagRefs: true
    includeCommitId: true
    linkToCommits: true
